# Lecture 3
## Datatypes
We will explore some of the inbuilt datatypes of python in this class. We already saw a hint of it with `int` in last class.

### Simple types
How to determine the datatype of something? 

We can use the `type` command to check its datatype.

In [1]:
type?

Init signature: type(self, /, *args, **kwargs)
Docstring:
type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type
Type:           type
Subclasses:     ABCMeta, EnumType, _AnyMeta, NamedTupleMeta, _TypedDictMeta, _DeprecatedType, _ABC, MetaHasDescriptors, PyCStructType, UnionType, ...

#### String
Any text form is stored in the form of strings. Anything you can type with your keyboard inside quotes `''` or `""` will be considered as string.

In [2]:
type('two')

str

In [3]:
type('2')

str

In [4]:
x='ðŸ™‚'
print(x,type(x))

ðŸ™‚ <class 'str'>

strings also have length which can be queried by `len`

In [5]:
x='some long word'
len(x)

14

We can check if a part of a text is present with `in`

In [6]:
'some' in x

True

In [7]:
'something' in x

False

#### Integer
Mathematically speaking it is equivalent to $\mathbb{Z}$. All numbers without any decimals are integers.

In [8]:
type(2)

int

#### Float
Mathematically speaking it is equivalent to $\mathbb{R}$. Any number with a decimal place is stored as a float. Float is stored as the binary equivalent of scientific notation.

In [9]:
type(2.0)

float

In [10]:
x=2e2
print(x,type(x))

200.0 <class 'float'>

#### Complex
Mathematically speaking it is equivalent to $\mathbb{C}$. The 'coefficients' are stored as ints or floats.

In [11]:
x=0.2j
print(x,type(x))

0.2j <class 'complex'>

#### Boolean
These are the truth values.

In [12]:
type(True)

bool

#### Misc
Do datatypes have type?

In [13]:
type(int)

type

Does `print` have a type?

In [14]:
type(print)

builtin_function_or_method

### Collection types
#### Tuple

In [15]:
x=(1,2,3)
print(x,type(x),len(x))

(1, 2, 3) <class 'tuple'> 3

Unlike R, in python the indexing starts from 0 (as things should be).

In [16]:
x[0]

1

Negative indexing can be used to start from the last element

In [17]:
x[-1]

3

We can also get slices.

In [18]:
x[0:2]

(1, 2)

But we cannot change these elements after defining the tuple (immutable).

In [19]:
x[0]=0

TypeError: 'tuple' object does not support item assignment

In [20]:
x=(0,1,2)
print(x)

(0, 1, 2)

Similar to strings we have `len`, `in`, `+` and `*`

In [21]:
len(x)

3

In [22]:
0 in x

True

In [23]:
x+x

(0, 1, 2, 0, 1, 2)

In [24]:
x*3

(0, 1, 2, 0, 1, 2, 0, 1, 2)

We can also unpack a tuple into individual values

In [25]:
y0,y1,y2=x
print(y0,y1)

0 1

In [26]:
y0,*y1 = x
print(y1)

[1, 2]

Can we have a single value in tuple?

In [27]:
x=(0)
print(x,type(x))

0 <class 'int'>

In [28]:
x=(0,)
print(x,type(x))

(0,) <class 'tuple'>

#### List

In [29]:
x=[1,2,3]
print(x,type(x),len(x))

[1, 2, 3] <class 'list'> 3

Indexing is similar with this

In [30]:
x[0]

1

Unlike tuples, the elements of lists are mutable.

In [31]:
x[0]=0
print(x)

[0, 2, 3]

How can you add elements to a list?

In [32]:
x[3]=4

IndexError: list assignment index out of range

In [33]:
x.append(4)
print(x)

[0, 2, 3, 4]

And for removing elements?

In [34]:
x.pop()
print(x)

[0, 2, 3]

List can also contain other lists or any other datatypes

In [35]:
x=[x,(1,2)]
print(x)

[[0, 2, 3], (1, 2)]

#### Dictionaries

In [36]:
x={1:10,2:20}
print(x,type(x),len(x))

{1: 10, 2: 20} <class 'dict'> 2

Elements of dictionaries are accessed using the "keys" we defined.

In [37]:
x[1]

10

In [38]:
x[0]

KeyError: 0

We can get the keys and values separately in the dictionary

In [39]:
x.keys()

dict_keys([1, 2])

In [40]:
x.values()

dict_values([10, 20])

The keys could be of the type text as well.

In [41]:
x={'Harsha':'bharshavardh@iisc.ac.in','Sarthak':'sarthaksahoo@iisc.ac.in'}
x['Harsha']

'bharshavardh@iisc.ac.in'

The values are mutable,

In [42]:
x['Harsha']='email@example.com'
print(x)

{'Harsha': 'email@example.com', 'Sarthak': 'sarthaksahoo@iisc.ac.in'}

We can also add new elements,

In [43]:
x['Kishore']='kishorehari@iisc.ac.in'
print(x)

{'Harsha': 'email@example.com', 'Sarthak': 'sarthaksahoo@iisc.ac.in', 'Kishore': 'kishorehari@iisc.ac.in'}

And remove elements.

In [44]:
x.pop('Harsha')
print(x)

{'Sarthak': 'sarthaksahoo@iisc.ac.in', 'Kishore': 'kishorehari@iisc.ac.in'}

Keys have to be unique.

In [45]:
x={1:10,2:20,1:30}
x

{1: 30, 2: 20}

Tuples can also be keys.

In [46]:
x={(2,3):[2,3]}
x[(2,3)]

[2, 3]

But not lists or dictionaries.

In [47]:
x={[2,3]:[2,3]}

TypeError: unhashable type: 'list'

In [48]:
x={{2:3}:2}

TypeError: unhashable type: 'dict'

### Type casting
Type casting used is to change from one datatype to another.

In [49]:
x=int('2')
print(x,type(x))

2 <class 'int'>

In [50]:
x=float('2.2')
print(x,type(x))

2.2 <class 'float'>

If there is text present in our string, we cannot convert it to float/int

In [51]:
int('two')

ValueError: invalid literal for int() with base 10: 'two'

When converting float to integers, the number gets truncated and only the integer part is given.

In [52]:
x=int(2.6)
print(x,type(x))

2 <class 'int'>

However, to round it properly, we should use the `round` function.

In [53]:
x=round(2.6)
print(x,type(x))

3 <class 'int'>

Similarly, integers can be converted to float.

In [54]:
x=float(2)
print(x,type(x))

2.0 <class 'float'>

Numerical values can also be converted to strings.

In [55]:
str(2)

'2'

In [56]:
str(2*10**-23)

'2e-23'

In [57]:
str(2**-23)

'1.1920928955078125e-07'

For complex, we need to provide two numbers for casting.

In [58]:
complex(2,0.2)

(2+0.2j)

or a string of the form $a \pm b j$.

In [59]:
complex('2+0.2j')

(2+0.2j)

Complex cannot be directly converted to int/float

In [60]:
int(2+0.2j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [61]:
(2+0.2j).real

2.0

Tuples can be converted to lists and vice-versa

In [62]:
list((0,10))

[0, 10]

In [63]:
tuple([1,2,3])

(1, 2, 3)

However, int/float cannot be directly converted to list/tuple

In [64]:
list(2)

TypeError: 'int' object is not iterable

Can dict be converted to list/tuple?

In [65]:
list({1:2,3:4})

[1, 3]

But list/tuple cannot be converted to dict.

In [66]:
dict([1,2,3])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

Strings can also be converted to tuple/list.

In [67]:
list('text')

['t', 'e', 'x', 't']

But the inverse does not work as expected.

In [68]:
str(['t','e','x','t'])

"['t', 'e', 'x', 't']"